<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Welcome to the Cocktail Rolodex</h1>
  <h2> <%=  user.profile.name %></h2>

  <p>The cocktail rolodex was developed with two main ideas in mind : </p>
  <ol>
    <li> Education in the use of Full stack application building utilizing and API</li>
    <li> To explore some new cocktails or ideas to try later</li>
  </ol>  
  <h6>Future Features:</h6>
  <ul>
  <li>Light and dark mode</li>
  <li>Ratings and sorting by rating functionality</li>
  <li>Comparing all ratings of all user saved coctails to show top 10</li>
</ul>


<div id="random-cocktail" class="landing-page">
<section id="Random-cocktail">
<h3>Feeling adventurous maybe you would like a random bevrage</h3>
<form action="/cocktails/random" method="POST">
  <button class="btn btn-warning">Random Cocktail</button>
</form>
</div>

<div  id="seach-cocktail" class="landing-page" >
  <h3>If not, lets find you your drinks of choice</h3>
  
  <form action="/cocktails/search" method="get">
    <button class="btn btn-primary">Search Cocktails</button>
  </form>
</div>

  <div id="redirect-to-rolodex" class="landing-page">
    <h3>Or Head to your Saved cocktails!</h3>
    <form action="/profiles" method="get">
      <button class="btn btn-info">View Rolodex</button>
    </form>
  </div>

</main>

<%- include('../partials/footer') %>