<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1>Search Page</h1>
<form method="POST">
  <input type="text" name="query" id="" placeholder="Search by name">
  <button type="submit">Submit</button>
</form>
<section id="Random-cocktail">
  <h3>Feeling adventurous maybe you would like a random bevrage</h3>
  <form action="/cocktails/random" method="POST">
    <button >Random Cocktail</button>
  </form>
  </section>
  <section>
    <h3>Or Head to your Saved cocktails!</h3>
    <form action="/profiles" method="get">
      <button type="submit">View saved cocktails</button>
    </form>
  </section>
</main>





<%- include('../partials/footer') %>